<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.societyhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/societyhubicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.teal"
        android:usesCleartextTraffic="true">
        <activity android:name=".CustomSocietyMemberAdmin"></activity>
        <activity android:name=".AdminSideMaintenanceFragment" />
        <activity android:name=".AdminSideEventFragment" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ChairmanNoticeInformation" />
        <activity android:name=".CustomMember" />
        <activity android:name=".CustomCreateMaintenance" />
        <activity android:name=".ViewMemberPaymentInfo" />
        <activity android:name=".CustomMemberChairmanSide" />
        <activity android:name=".AttendEventNotRegisteredChairmanSide" />
        <activity android:name=".EventRegisteredChairmanSide" />
        <activity android:name=".EventNotRegisteredChairmanSide" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".MaintenanceNotPaidChairmanSide" />
        <activity android:name=".MaintenancePaidChairmanSide" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".CustomSocietiesLayout" />
        <activity android:name=".AdminUpdateSociety" />
        <activity android:name=".Societies" />
        <activity android:name=".Society_Information" />
        <activity android:name=".AdminCreateSocieties" />
        <activity android:name=".CreateNoticeChairmanSide" />
        <activity android:name=".MemberListChairmanSide" />
        <activity android:name=".NoticeUserSide" />
        <activity android:name=".EventsUserSide" />
        <activity android:name=".MaintenanceUserSide" />
        <activity android:name=".ContactChairmanUserSide" />
        <activity android:name=".UserEditProfile" />
        <activity android:name=".User" />
        <activity android:name=".NoticeInfoReceivedChairmanSide" />
        <activity android:name=".CustomNoticeReceivedList" />
        <activity android:name=".CustomNoticeSentList" />
        <activity android:name=".NoticiesChairmanSide" />
        <activity android:name=".CreateEventsChairmanSide" />
        <activity android:name=".EventsChairmanSide" />
        <activity android:name=".CustomMemberInfo" />
        <activity android:name=".CreateMaintenanceChairmanSide" />
        <activity android:name=".MaintenanceListChairmanSide" />
        <activity android:name=".EventPaymentHistoryChairmanSide" />
        <activity android:name=".MemberInfoChairmanSide" />
        <activity android:name=".MembersList" />
        <activity android:name=".ChairmanEditProfile" />
        <activity android:name=".ChairmanMyProfile" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chairman" />
        <activity android:name=".Admin" />
        <activity android:name=".Chairmen" />
        <activity android:name=".CustomCreateNoticeAdmin" />
        <activity android:name=".ViewChairmanPaymentInfo" />
        <activity android:name=".AdminCreateNotice" />
        <activity android:name=".CustomNoticeInformationAdmin" />
        <activity android:name=".AdminNoticeInformation" />
        <activity android:name=".AdminNotice" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ChairmanMaintenancePaymentNotPaid" />
        <activity android:name=".ChairmanMaintenancePaymentPaid" />
        <activity android:name=".CustomMaintenanceChairmanDetails" />
        <activity android:name=".CustomMaintenanceChairman" />
        <activity android:name=".ChairmanEventDetailsNotRegistered" />
        <activity android:name=".ChairmanEventDetailsRegistered" />
        <activity android:name=".CustomEventChairman" />
        <activity android:name=".SocietyChairmanPaymentInfo" />
        <activity android:name=".SocietyMemberInformation" />
    </application>

</manifest>